NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:3000

BLINKSEAL_CERT_PRIVATE_KEY_B64=
BLINKSEAL_CERT_PUBLIC_KEY_B64=
